<a href="https://colab.research.google.com/github/david5421/IS_170_Binder/blob/Lab2/Lab2_Feature_engineering_(BINDER).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

David Bautista/ Ng Zhen Rui

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('healthcare_data-2(BINDER).csv') 
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe

In [ ]:
df.isnull().sum().sum()

0

In [ ]:
df1 = df.dropna()
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
import numpy as np

In [ ]:
df = pd.read_csv('healthcare_data-2(BINDER).csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
print(df.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.fillna(value=0, inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['Pregnancies']=df['Pregnancies'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['Glucose']=df['Glucose'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['BloodPressure']=df['BloodPressure'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['SkinThickness']=df['SkinThickness'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['Insulin']=df['Insulin'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['BMI']=df['BMI'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['DiabetesPedigreeFunction']=df['DiabetesPedigreeFunction'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['Age']=df['Age'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
df['Outcome']=df['Outcome'].fillna(value=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
mean_values=df[['Pregnancies','Glucose']].mean()
print(mean_values)

Pregnancies      3.845052
Glucose        120.894531
dtype: float64

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
mean_values=df[['BloodPressure','SkinThickness']].mean()
print(mean_values)

BloodPressure    69.105469
SkinThickness    20.536458
dtype: float64

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
mean_values=df[['Insulin','BMI']].mean()
print(mean_values)

Insulin    79.799479
BMI        31.992578
dtype: float64

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
mean_values=df[['DiabetesPedigreeFunction','Age']].mean()
print(mean_values)

DiabetesPedigreeFunction     0.471876
Age                         33.240885
dtype: float64

In [ ]:
df[['Pregnancies','Glucose']]=df[['Pregnancies','Glucose']].fillna(value=df[['Pregnancies','Glucose']].mean())
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df[['SkinThickness','Insulin']]=df[['SkinThickness','Insulin']].fillna(value=df[['SkinThickness','Insulin']].mean())
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df=pd.read_csv("healthcare_data-2(BINDER).csv")
mean_values=df[['BloodPressure','SkinThickness']].mean()
print(mean_values)

BloodPressure    69.105469
SkinThickness    20.536458
dtype: float64

In [ ]:
print()

In [ ]:
df=pd.read_csv('healthcare_data-2(BINDER).csv')

df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
from sklearn.preprocessing import LabelEncoder

#Creating a instance of label Encoder
le = LabelEncoder()

#Using .fit_transform function to fit label
#encoder and return encoded label
label = le.fit_transform(df['Outcome'])

#printing label
label

array([3, 1, 2, 1, 3, 0, 0, 0, 3, 0, 0, 3, 1, 1, 2, 0, 2, 0, 0, 0, 3, 1,
       3, 0, 2, 2, 0, 3, 3, 0, 3, 2, 3, 1, 0, 3, 3, 0, 1, 2, 1, 3, 2, 2,
       2, 2, 3, 1, 3, 1, 2, 2, 2, 0, 0, 1, 1, 0, 0, 0, 1, 1, 2, 1, 3, 3,
       2, 1, 3, 0, 1, 0, 3, 0, 0, 2, 1, 3, 0, 0, 0, 1, 1, 2, 1, 3, 1, 3,
       2, 1, 1, 1, 0, 0, 3, 0, 1, 3, 2, 3, 1, 1, 3, 3, 0, 1, 2, 3, 1, 2,
       0, 2, 0, 3, 2, 3, 2, 3, 3, 2, 2, 3, 2, 2, 1, 3, 0, 3, 0, 2, 1, 2,
       2, 3, 2, 0, 2, 3, 2, 3, 2, 3, 2, 0, 0, 0, 0, 3, 1, 0, 0, 1, 2, 3,
       1, 3, 3, 2, 2, 0, 1, 0, 1, 1, 2, 1, 2, 2, 3, 1, 1, 2, 1, 2, 3, 3,
       1, 0, 3, 3, 3, 3, 2, 1, 3, 2, 3, 1, 2, 3, 1, 3, 0, 1, 1, 1, 0, 0,
       3, 3, 3, 0, 0, 1, 2, 1, 3, 1, 2, 3, 1, 0, 3, 2, 3, 0, 1, 0, 0, 3,
       1, 0, 0, 1, 2, 3, 1, 2, 0, 1, 2, 2, 3, 1, 0, 0, 0, 1, 2, 3, 3, 0,
       3, 3, 0, 0, 0, 2, 0, 3, 2, 0, 3, 3, 3, 1, 2, 0, 0, 2, 2, 3, 3, 2,
       3, 1, 3, 1, 1, 3, 2, 0, 2, 2, 2, 1, 3, 3, 2, 3, 1, 3, 3, 3, 3, 0,
       1, 2, 1, 0, 1, 2, 0, 0, 1, 0, 3, 2, 1, 1, 2, 3, 1, 1, 1, 2, 2, 3,
       2, 2, 1, 0, 1, 2, 2, 3, 2, 3, 0, 1, 0, 3, 0, 3, 3, 2, 2, 3, 2, 1,
       3, 3, 1, 0, 3, 1, 1, 3, 1, 1, 0, 3, 2, 0, 0, 2, 1, 0, 0, 3, 3, 3,
       1, 1, 2, 0, 2, 0, 0, 1, 2, 2, 3, 1, 1, 0, 3, 3, 2, 3, 0, 2, 2, 3,
       1, 2, 3, 1, 0, 1, 2, 1, 1, 3, 2, 2, 2, 2, 0, 0, 1, 0, 0, 0, 2, 0,
       3, 2, 0, 0, 2, 0, 1, 2, 1, 3, 0, 3, 3, 0, 2, 0, 3, 2, 0, 2, 0, 0,
       0, 1, 2, 2, 2, 3, 0, 0, 0, 2, 0, 3, 1, 2, 2, 0, 0, 0, 3, 1, 2, 3,
       0, 2, 2, 2, 1, 0, 1, 2, 0, 3, 0, 3, 1, 3, 1, 3, 3, 2, 1, 1, 2, 1,
       3, 2, 0, 0, 2, 1, 1, 2, 2, 1, 3, 3, 0, 0, 3, 3, 3, 2, 2, 2, 3, 0,
       1, 0, 1, 3, 2, 3, 3, 1, 0, 3, 1, 2, 1, 3, 2, 2, 3, 2, 1, 3, 3, 3,
       2, 1, 0, 3, 1, 0, 2, 1, 1, 0, 0, 2, 2, 3, 1, 0, 2, 3, 3, 2, 2, 0,
       2, 2, 2, 3, 0, 1, 0, 3, 3, 1, 1, 1, 1, 1, 3, 0, 1, 0, 2, 3, 1, 1,
       3, 1, 2, 2, 3, 2, 1, 1, 2, 1, 0, 0, 0, 1, 1, 1, 3, 2, 3, 2, 0, 1,
       3, 0, 2, 3, 0, 0, 1, 2, 1, 3, 3, 3, 1, 2, 3, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 3, 3, 2, 2, 2, 3, 2, 0, 1, 2, 2, 1, 1, 2, 2, 3, 0, 2, 3, 2,
       1, 3, 0, 1, 2, 3, 0, 3, 3, 0, 2, 1, 1, 3, 0, 3, 2, 3, 0, 3, 1, 3,
       2, 0, 2, 2, 1, 1, 3, 2, 1, 0, 0, 1, 3, 2, 2, 2, 0, 0, 3, 2, 0, 2,
       0, 0, 2, 1, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 0, 2, 0,
       3, 3, 0, 2, 0, 3, 1, 1, 3, 2, 0, 1, 3, 2, 3, 1, 2, 2, 3, 0, 3, 3,
       1, 2, 0, 1, 2, 3, 1, 3, 1, 0, 3, 0, 1, 2, 3, 0, 2, 3, 0, 1, 1, 0,
       2, 1, 1, 0, 2, 2, 2, 0, 1, 1, 0, 1, 2, 3, 3, 3, 0, 1, 3, 0, 2, 0,
       3, 3, 2, 0, 2, 1, 1, 1, 2, 1, 0, 1, 3, 3, 2, 1, 2, 3, 0, 1])

In [ ]:
#Remove the column 'Outcome' from df
#as it is of no use now.
df.drop("Outcome", axis=1, inplace=True)

#Appending the array to our dataFrame
#with column name 'Outcome'
df["Outcome"] = label

#print dataframe
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,3
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,2
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,3
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1
764,2,122,70,27,0,36.8,0.340,27,2
765,5,121,72,23,112,26.2,0.245,30,3
766,1,126,60,0,0,30.1,0.349,47,0
767,1,93,70,31,0,30.4,0.315,23,1

In [ ]:
old_cols=df.columns.values
new_cols=['Pregnancies','BloodPressure','Glucose','Insulin','SkinThickness','BMI','DiabetesPedigreeFunction','Age','Outcome']
df=df.reindex(columns=new_cols)
df

,Pregnancies,BloodPressure,Glucose,Insulin,SkinThickness,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,72,148,0,35,33.6,0.627,50,3
1,1,66,85,0,29,26.6,0.351,31,1
2,8,64,183,0,0,23.3,0.672,32,2
3,1,66,89,94,23,28.1,0.167,21,1
4,0,40,137,168,35,43.1,2.288,33,3
...,...,...,...,...,...,...,...,...,...
763,10,76,101,180,48,32.9,0.171,63,1
764,2,70,122,0,27,36.8,0.340,27,2
765,5,72,121,112,23,26.2,0.245,30,3
766,1,60,126,0,0,30.1,0.349,47,0
767,1,70,93,0,31,30.4,0.315,23,1

In [ ]:
print(df.rename(columns={'Glucose':'GlucoseLevel','BMI':'BMIValues'}))

     Pregnancies  BloodPressure  GlucoseLevel  Insulin  SkinThickness  \
0              6             72           148        0             35
1              1             66            85        0             29
2              8             64           183        0              0
3              1             66            89       94             23
4              0             40           137      168             35
..           ...            ...           ...      ...            ...
763           10             76           101      180             48
764            2             70           122        0             27
765            5             72           121      112             23
766            1             60           126        0              0
767            1             70            93        0             31

     BMIValues  DiabetesPedigreeFunction  Age  Outcome
0         33.6                     0.627   50        3
1         26.6                     0.351   31        1
2         23.3                     0.672   32        2
3         28.1                     0.167   21        1
4         43.1                     2.288   33        3
..         ...                       ...  ...      ...
763       32.9                     0.171   63        1
764       36.8                     0.340   27        2
765       26.2                     0.245   30        3
766       30.1                     0.349   47        0
767       30.4                     0.315   23        1

[768 rows x 9 columns]